<style type="text/css">
	
/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.banner_taital {
    width: 100%;
    margin: 0 auto;
    font-size: 100px;
    color: #000;
    line-height: 90px;
    padding-top: 80px;
    font-family: 'Great Vibes', cursive;
}

.banner_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
    margin: 20px 0px;
}

.read_bt {
    width: 170px;
    float: left;
    padding-top: 30px;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #252525;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    text-transform: uppercase;
}

/* banner section end */

</style>
 <!-- banner section start -->
      <div class="banner_section layout_padding">
         
                  <div class="container">
                     <div class="row">
                        <div class="col-sm-6">
                           <h1 class="banner_taital">Vibe <br>Store</h1>
                           <p class="banner_text">We make clothes.. Now, its your time to convert into Fashion!!</p>
                           <div class="read_bt"><a href="#">Buy Now</a></div>
                        </div>
                        <div class="col-sm-6">
                           <div class="banner_img"><img src="assets/images/banner.jpeg"></div>
                        </div>
                     </div>
			</div>
			</div>
  
      <!-- banner section end -->