<style type="text/css">
   
/* product section start */

.product_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.product_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #232322;
    font-weight: bold;
    padding-top: 80px;
}

.product_text {
    width: 100%;
    float: left;
    font-size: 16px;
    text-align: center;
    color: #50504f;
    margin: 0px;
}

.product_section_2 {
    width: 100%;
    float: left;
    padding-top: 30px;
}

.product_box {
    width: 100%;
    background-color: #ffffff;
    height: auto;
    border: 1px solid #7d7d7c;
    padding: 20px 0px 0px 0px;
    margin-top: 40px;
}

.bursh_text {
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #1a1c1b;
    font-weight: 600;
}

.lorem_text {
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: #50504f;
    margin: 0px;
}

.image_1 {
    width: 100%;
    text-align: center;
    margin: 20px 0px;
    padding: 0px 20px;
    height: 200px;
}

.btn_main {
    width: 100%;
    display: flex;
    background-color: #000;
    height: auto;
    padding: 20px 10px 13px 10px;
}

.buy_bt {
    float: left;
    width: 100%;
}

.buy_bt ul {
    margin: 0px;
    padding: 0px;
}

.buy_bt li a {
    float: left;
    font-size: 12px;
    color: #252525;
    padding: 5px 10px;
    background-color: #ffffff;
    text-transform: uppercase;
    margin-right: 5px;
    border-radius: 40px;
}

.price_text {
    font-size: 16px;
    color: #fefefd;
    width: 42%;
    padding-top: 5px;
    text-align: right;
}

.seemore_bt {
    width: 170px;
    margin: 0 auto;
    padding-top: 60px;
}

.seemore_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #252525;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}


/* product section end */

</style>
<!-- product section start -->
      <div class="product_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="product_taital">Our Products</h1>
                  <p class="product_text">We provide a large variety of colours in our Products and the best size recommended according to your body type.. to offer you Best Service as Possible.</p>
		
	<p class="product_text"><b><u> You are Our First Preference..</u></b></p>
               </div>
            </div>
            <div class="product_section_2 layout_padding">
               <div class="row">
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Green Satin day out Dress</h4>
                       
                        <img src="assets/images/Green Satin day out Dress.jpeg" class="image_1">
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                 <li class="active"><a href="#">Buy Now</a></li>
                                 
                              </ul>
                           </div>
                           <h3 class="price_text">Price 1499</h3>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Black Velvet Maxi Slit Dress</h4>
                        
                        <img src="assets/images/Black Velvet Maxi Slit Dress.jpeg" class="image_1">
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                 <li class="active"><a href="#">Buy Now</a></li>
                                 
                              </ul>
                           </div>
                           <h3 class="price_text">Price 999</h3>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">One Sided Off the Shoulder Front Pleated Dress</h4>
                        
                        <img src="assets/images/One Sided Off the Shoulder Front Pleated Dress.jpeg" class="image_1">
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                 <li class="active"><a href="#">Buy Now</a></li>
                                 
                              </ul>
                           </div>
                           <h3 class="price_text">Price 2100</h3>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Black checked Three Piece Blazer Set</h4>
                        
                        <img src="assets/images/Black cheched three piece blazer set.jpeg" class="image_1">
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                 <li class="active"><a href="#">Buy Now</a></li>
                                 
                              </ul>
                           </div>
                           <h3 class="price_text">Price 2999</h3>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Set of three: White crop top and pant with coat</h4>
                        
                        <img src="assets/images/Set of three White crop top and pant with coat.jpeg" class="image_1">
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                 <li class="active"><a href="#">Buy Now</a></li>
                                 
                              </ul>
                           </div>
                           <h3 class="price_text">Price 4599</h3>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Set of Two:Asymmetrical Top with White Pant</h4>
                        
                        <img src="assets/images/Set of Two Asymmetrical Top with White Pant.jpeg" class="image_1">
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                 <li class="active"><a href="#">Buy Now</a></li>
                                 
                              </ul>
                           </div>
                           <h3 class="price_text">Price 1299</h3>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Set of 3: Pink Oversized Shirt & Shorts with a Complementary White Top</h4>
                        
                        <img src="assets/images/Set of 3 Pink Oversized Shirt & Shorts with a Complementary White Top.jpeg" class="image_1">
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                 <li class="active"><a href="#">Buy Now</a></li>
                                 
                              </ul>
                           </div>
                           <h3 class="price_text">Price 1899</h3>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Set of 4: Rib classic tank tops</h4>
                        
                        <img src="assets/images/Set of 4 Rib classic tank tops.jpeg" class="image_1">
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                 <li class="active"><a href="#">Buy Now</a></li>
                                 
                              </ul>
                           </div>
                           <h3 class="price_text">Price 999</h3>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Set of 2: Colourblock Crop Blazer with High waist Trouser</h4>
                        
                        <img src="assets/images/Set of 2Colourblock Crop Blazer with High waist Trouser.jpeg" class="image_1">
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                 <li class="active"><a href="#">Buy Now</a></li>
                                 
                              </ul>
                           </div>
                           <h3 class="price_text">Price 1150</h3>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Deep Neck Red Satin Dress</h4>
                        
                        <img src="assets/images/Deep Neck Red Satin Dress.jpeg" class="image_1">
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                 <li class="active"><a href="#">Buy Now</a></li>
                                 
                              </ul>
                           </div>
                           <h3 class="price_text">Price 899</h3>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">3 Piece blazer shorts set</h4>
                        
                        <img src="assets/images/3 piece blazer shorts set.jpeg" class="image_1">
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                 <li class="active"><a href="#">Buy Now</a></li>
                                 
                              </ul>
                           </div>
                           <h3 class="price_text">Price 5100</h3>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Set of 2: White ruched off shouldre top with Satin Skirt</h4>
                        <img src="assets/images/Set of 2White ruched off shouldre top with Satin Skirt.jpeg" class="image_1">
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                 <li class="active"><a href="#">Buy Now</a></li>
                                 
                              </ul>
                           </div>
                           <h3 class="price_text">Price 1300</h3>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="seemore_bt"><a href="#">See More</a></div>
            </div>
         </div>
      </div>
      <!-- product section end -->