<style type="text/css">
   
/* customer section start */


.client_section_2 {
    width: 70%;
    margin: 0 auto;
    padding-top: 80px;
}

.client_main {
    width: 100%;
    float: left;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 30px 1px #eeeeed;
    margin-bottom: 50px;
}

.client_left {
    width: 30%;
    float: left;
}

.client_right {
    width: 70%;
    float: left;
    padding-top: 55px;
    padding-left: 14px;
}

.name_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #252525;
    font-weight: bold;
    text-transform: uppercase;
}

.dolor_text {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #252525;
    margin: 0px;
}

.client_img {
    width: 100%;
    text-align: center;
}

/* customer section end */

</style>
<!-- customer section start -->
      <div class="customer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="customer_taital">What says customers</h1>
               </div>
            </div>
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="client_section_2">
                        <div class="client_main">
                           <div class="client_left">
                              <div class="client_img"><img src="assets/images/priya.jpeg"></div>
                           </div>
                           <div class="client_right">
                              <h3 class="name_text">Priya Thakur</h3>
                              <p class="dolor_text">I just got my first order and i have one worde WOW!!!! Love, Love ,Love these clothes.. I had my doubts before i ordered because most sites plus size clothes are too small and im usually disappointment, but not this time.. Thank you sooo much Vibe store.. </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="client_section_2">
                        <div class="client_main">
                           <div class="client_left">
                              <div class="client_img"><img src="assets/images/anjali.jpeg"></div>
                           </div>
                           <div class="client_right">
                              <h3 class="name_text">Anjali</h3>
                              <p class="dolor_text">A perfectly fit, safe and a great website for womens clothing.... </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="client_section_2">
                        <div class="client_main">
                           <div class="client_left">
                              <div class="client_img"><img src="assets/images/radhika.jpeg"></div>
                           </div>
                           <div class="client_right">
                              <h3 class="name_text">Radhika Saxena</h3>
                              <p class="dolor_text">I completely love this site, refer by my friend at first now i just order directly... I am always complemented on my outfits I will be back for more.. Thank you for having cute trendy clothes that fit and look great. </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <i class="fa fa-angle-left"></i>
               </a>
               <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <i class="fa fa-angle-right"></i>
               </a>
            </div>
         </div>
      </div>
      <!-- customer section end -->